<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <title>Felipe - Portfólio</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header class="header-container">
    <section id="header-menu">
      <nav>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li>
            <a href="https://www.linkedin.com/in/pedroguarize/" target="_blank">Linkedin</a>
          </li>
          <li>
            <a href="https://github.com/guarize" target="_blank">Github</a>
          </li>
        </ul>
      </nav>
      <div class="header-content">
        <div class="perfil">
          <img
            src="pipe.png"
            alt="Foto de Pedro Guarize Montenegro" />
        </div>
        <div class="header-text">
          <h1>Pedro Guarize</h1>
          <p>
            <em>Estudante de Desenvolvimento Web na Trybe<br /></em>
          </p>
        </div>
      </div>
    </section>
  </header>
  <main class="container">
    <div class="about-me frame">
      <div>
        <h3 id=>Sobre Mim</h3>
      </div>
      <div>
        <p>
          Meu nome é Pedro, 22 anos, moro em Recife-PE. Sou apaixonado por
          Tecnologia,<br />
          desenvolvimento e projetos que trabalham com tecnologias de ponta<br />
          capazes que verdadeiramente impactar a vida das pessoas.
        </p>
      </div>
    </div>
    <section class="skills-container ">
    <div class="hard-skills">
      <h3>Hard Skills</h3>
      <ol class="skills">
        <li><strong>HTML</strong></li>
        <li><strong>CSS</strong></li>
        <li><strong>JavaScript</strong></li>
        <li>Solidity</li>
        <li>Unix & Bash</li>
        <li>Git & Github</li>
      </ol>
    </div>

    <div class="soft-skills">
      <h3>Soft Skills</h3>
      <ol class="skills">
        <li>Planejamento estratégico</li>
        <li><strong>Capacidade analítica</strong></li>
      </ol>
    </div>
  </section>
  </main>
  <footer class="footer-container">
    <h4>Created by Pedro Guarize</h4>
  </footer>
</body>

</html>